#header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 30vh;
    flex-wrap: wrap;
}

#header div{
    background-color: blue;
    width: 15%;
}


#tableSize{
    border-collapse: collapse;
    background-color: rgb(240, 240, 255);
}

main{
    text-align: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#medidas{
    display: flex;
    width: 100%;
    justify-content: center;
}

#camisetaPolo{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    justify-content: space-around;
}
#camisetaUm{
    width: 45%;
    background-color: blue;
}
#camisetaUm > img{
    width: 100%;
}

#sectionDois{
    background-color: #ec3141;
    width: 40%;
    height: 110vh;
}

#sectionTres{
    background-color: aqua;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#carroselRecomendados{
    width: 90%;
    height: 45vh;
    background-color: #0a2be4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.produtosCarrosel{
    width: 20%;
    height: 42vh;
    background-color: #ec3141;
}

/* Começo da responsividade por medias queries*/

@media(max-width: 1000px){
    #header{
        background-color: #0a2be4;
        display: flex;
        justify-content: space-between;
        height: 65vh;
        
    }
    
    #header div{
        background-color: rgb(255, 0, 140);
        width: 30%;
        height: 30vh;
    }
}

@media(max-width: 700px){
    #header{
        background-color: #0a2be4;
        display: flex;
        justify-content: space-between;
        height: 100vh;
        
    }
    
    #header div{
        background-color: rgb(255, 0, 140);
        width: 45%;
        height: 30vh;
    }
}

@media(max-width: 430px){
    #header{
        background-color: #0a2be4;
        display: flex;
        justify-content: space-between;
        height: 130vh;
        
    }
    
    #header div{
        background-color: rgb(255, 0, 140);
        width: 100%;
        height: 20vh;
    }
}


