#header{
    background-color: #000;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 30vh;
    flex-wrap: wrap;
}

#header div{
    background-color: blue;
    width: 15%;
}


#tableSize{
    border-collapse: collapse;
    background-color: rgb(240, 240, 255);
}

main{
    text-align: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#medidas{
    display: flex;
    width: 100%;
    justify-content: center;
}

#camisetaPolo{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    background-color: azure;
    justify-content: space-around;
    height: 200vh;
}
#camisetaUm{
    width: 45%;
    background-color: blue;
}
#camisetaUm > img{
    width: 100%;
}

#sectionDois{
    background-color: #ec3141;
    width: 40%;
    height: 200vh;
}

#articleContainPrincipal{
    border: 2px solid #000;
    height: 5vh;
    margin-top: 1vh;
    display: flex;
    justify-content: space-between;
}

#sectionTres{
    background-color: aqua;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#carroselRecomendados{
    width: 90%;
    height: 45vh;
    background-color: #0a2be4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.produtosCarrosel{
    width: 20%;
    height: 42vh;
    background-color: #ec3141;
}

#InformacoesCamiseta{
    background-color: #0a2be4;
    width: 100%;
    height: 50vh;
}

#boxNomeCamiseta{
    width: 100%;
    height: 20vh;
    border: 2px solid #000;
}

#nomeCamiseta{
    border: 2px solid #000;
    width: 90%;
    height: 18vh;
}

#miniContain{
    height: 15vh;
    border: 2px solid #000;
    margin-top: 3vh;
}

#ContainPrincipal{
    height: 125vh;
    width: 100%;
    border: 2px solid #000;
    margin-top: 3vh;
}

#containEscolhaMedidas{
    border: 2px solid #000;
    margin-top: 1vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.tamanho{
    width: 24%;
    border: 2px solid #fff;
    height: 5vh;

}

#containButtons{
    width: 100%;
    height: 20vh;
    margin-top: 1vh;
    border: 2px solid #000;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.button{
    border-radius: 10vh;
    border: none;
    background-color: #000;
    height: 6vh;
    width: 100%;
    font-size: 2vh;
    font-weight: bolder;
    color: #fff;
    box-shadow: 2px 2px 10px #000;
}

.button:hover{
    background-color: #5f5f5f;
    box-shadow: 2px 2px 10px #486575;
}

#containLinks{
    border: 2px solid #000;
    height: 10vh;
    width: 100%;
    margin-top: 1vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#containOff{
    height: 20vh;
    border: 2px solid #000;
    width: 100%;
    margin-top: 1vh;
    display: flex;
}

#containDetalhes{
    border: 2px solid #000;
    height: 45vh;
    width: 100%;
    margin-top: 2vh;
    
}
/* Começo da responsividade por medias queries*/

@media(max-width: 1000px){
    #header{
        background-color: #0a2be4;
        display: flex;
        justify-content: space-between;
        height: 65vh;
        
    }
    
    #header div{
        background-color: rgb(255, 0, 140);
        width: 30%;
        height: 30vh;
    }
}

@media(max-width: 700px){
    #header{
        background-color: #0a2be4;
        display: flex;
        justify-content: space-between;
        height: 100vh;
        
    }
    
    #header div{
        background-color: rgb(255, 0, 140);
        width: 45%;
        height: 30vh;
    }
}

@media(max-width: 430px){
    #header{
        background-color: #0a2be4;
        display: flex;
        justify-content: space-between;
        height: 130vh;
        
    }
    
    #header div{
        background-color: rgb(255, 0, 140);
        width: 100%;
        height: 20vh;
    }
}


