:root{
    --feminino-display: flex;
    --geral-display: flex;
    --filtroMobile-display: none;
}
body {
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
    flex-wrap: wrap;
}

header {
	width: 100%;
	position: fixed;
	background-color: #fff;
	top: 1px;
}

#head {
	height: 5vh;
	width: 100%;
	display: flex;

	background-color: #fff;
	align-items: center;
	justify-content: space-between;
	text-decoration: none;
}

.aHead:hover {
	color: #5f5f5f;
	cursor: pointer;
}

.aHead {
	color: black; /* Define a cor desejada */
	text-decoration: none; /* Remove o sublinhado */
}

#nav {
	background-color: #fff;
	width: 100%;
	border-radius: 20px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 1vh;
}

#nav > a > img{
    width: 20%;
}

#navegadores {
	width: 80%;
	padding: 1vh;
	background-color: #fff;
	border-radius: 20px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

#navegadores > a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

#navegadores > a:hover{
    color: #fff;
    background-color: #000;
    border-radius: 20px;
    padding: 1vh;
    position: relative;
    box-shadow: 2px 2px 10px #000;
}

#navegadores > img:hover {
	cursor: pointer;
	box-shadow: 2px 2px 20px #2c3033;
	background-color: #9b9696;
	border-radius: 20px;
}

#nav > img {
	width: 5%;
}

#nav > img:hover {
	cursor: pointer;
}

#headerCelular {
    display: none;
}

#navCelular {
    display: none;
}

#iconsCelular {
    display: none;
}

#iconsCelular > img {
    display: none;
}

#inputPesquisaCelular {
    display: none;
}

#inputPesquisaCelular > input {
    display: none;
}

#inputNav {
	color: #ad9d6d;
	background-color: #fff;
	border: 2px solid #696042;
	border-radius: 20px;
}

#iconsHead,
#ancorasHead {
	display: flex;
	justify-content: space-between;
	margin: 4vh;
}
#iconsHead {
	width: 5%;
}

#ancorasHead {
	width: 80%;
}

#headLogo {
	background-image: url(img/iconLogo.png);
	width: 6vh;
	height: 6vh;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

#outdorMuv {
	width: 100%;
	height: auto;
	background-color: #fff;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 17vh;
	border-top: 1px solid #747171;
	border-bottom: 1px solid #747171;
}

#outdorMuv > img {
	height: 3.5vh;
}

#outdorMuv > img:hover {
	cursor: pointer;
}

#outdorEscrita {
	display: flex;
	align-items: center;
}

#outdorEscrita > img {
	height: 32px;
}

main{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

#filtrosSelecionados{
    display: flex;
    width: 100%;
}

#BoxFiltro{
    display: none;
}

#filtros{
    width: 24%;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #747171;
    align-items: center;
    justify-content: center;
    min-height: 30vh;
    max-height: 40vh;
}

#filtros > button{
    width: 99%;
    height: 4vh;
    margin-bottom: 1vh;
    border: 1px solid #000;
    cursor: pointer;
}

#filtros > button:hover{
    background-color: #5f5f5f;
}

#remover{
    display: none;
}

#produtos{
    width: 75%;
    border: 2px solid #747171;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-height: 70vh;
    overflow-y: scroll;
}

.produto{
    width: 30%;
    display: var(--geral-display);
    flex-wrap: wrap;
    margin-bottom: 1vh;
}

.produto > button {
    width: 90%;
    height: 3vh;
    border-radius: 20px;
    border: none;
    background-color: #000;
    color: #fff;
    box-shadow: 2px 2px 10px #2c3033;
    cursor: pointer;
    display: flex;
    justify-content: center;
    vertical-align: top;
}

.produto > button > a{
	color: #fff;
	font-weight: bolder;
    text-decoration: none;
    cursor: pointer;
    padding: 0.5vh;
    padding-left: 13vh;
    padding-right: 13vh;
    border-radius: 20px;
}

.produto > img{
    width: 100%;
}

.ativo{
    width: 30%;
    display: var(--feminino-display);
}

.ativo > img{
    width: 100%;
}

#OutdorCarrosel {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
    margin-bottom: 1vh;
	
}

#OutdorCarrosel > h2 {
	width: 100%;
}

/* Estilização do carrossel */
#carroselRecomendados {
    width: 100%;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
    /* padding: 10px 0; */
}

/* Container dos itens do carrossel */
.carrosel-container {
    display: flex;
    justify-content: space-between;
    transition: transform 0.5s ease-in-out;
    width: 70%;
    margin-bottom: 2vh;
}

/* Cada produto no carrossel */
.produtosCarrosel {
    width: 24%;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.produtosCarrosel > button{
    width: 90%;
    height: 3vh;
    border-radius: 20px;
    border: none;
    background-color: #000;
    color: #fff;
    box-shadow: 2px 2px 10px #2c3033;
    cursor: pointer;
}
.produtosCarrosel > img{
    width: 100%;
}

/* Setas de navegação */
.seta {
    width: 30px;
    height: 30px;
    cursor: pointer;
    user-select: none;
}

.valor{
    width: 99%;
    display: flex;
    height: 2vh;
}

.off{
    width: 99%;
    display: flex;
    color: #55c40b;
    font-weight: bolder;
    height: 4vh;
}

footer {
	background-color: #2c3033;
	width: 100%;
	color: #fff;
	margin-top: 2vh;
}

#footerLinks {
	display: flex;
	width: 100%;
	justify-content: center;
	text-align: center;
}
.footerbox {
	background-color: #2c3033;
	width: 40%;
	display: flex;
	flex-wrap: wrap;
}

.footerbox > a{
	width: 100%;
	text-decoration: none;
	color: #fff;
}

.footerbox > a:hover{
	color: #555;
}

#beforeHr {
	background-color: #2c3033;
	width: 100%;
	text-align: center;
}

.beforeHRText {
	width: 40%;
	display: inline-block;
	vertical-align: top;
}

#filtrosCelular{
    display: none;
}

#fecharFiltroMobile{
    display: none;
}

#btnFecharFiltroMobile{
    display: none;
}

@media(max-width: 1000px){
	header{
		display: none;
	}
     main{
        width: 100%;
     }

    #produtos{
        width: 100%;
        border: none;
        max-height: none;
    }

    .produto{
        width: 50%;
    }

    .produto > img{
        min-height: auto;
    }

/* Container dos itens do carrossel */
.carrosel-container {
    width: 90%;
    flex-wrap: wrap;
}

/* Cada produto no carrossel */
.produtosCarrosel {
    width: 50%;
    margin-top: 2vh;
}
/* Setas de navegação */
.seta {
    width: 20px;
    height: 20px;
}

#head {
    display: none;
}
    #outdorMuv > img {
		height: 2.5vh;
	}

	#outdorMuv {
		width: 100%;
		height: 4vh;
		background-color: #b4b6b8;
		display: flex;
		justify-content: space-around;
		align-items: center;
		font-size: 1.25vh;
		margin-top: 2.5vh;
		box-shadow: 2px 2px 10px #2c3033;
		margin-top: 2vh;
	}

	#headerCelular {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	#navCelular {
		width: 100%;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	#iconsCelular {
		width: 10%;
		display: flex;
	}

	#iconsCelular > img {
		width: 100%;
		display: flex;
		background-color: #b4b6b8;
	}

	#IconsCelularSecond {
		width: 40%;
		display: flex;
		justify-content: space-around;
	}

	#IconsCelularSecond > img {
		width: 15%;
		height: 3vh;
	}

	#btnPesquisa {
		border: none;
		background-color: transparent;
		border-radius: 11px;
		width: 30%;
		height: 3vh;
	}

	#btnPesquisa > img {
		width: 100%;
		height: 3.7vh;
		filter: drop-shadow(2px 2px 10px #2c3033);
	}

	#inputPesquisaCelular {
		width: 100%;
		display: flex;
		margin-top: 1vh;
	}

	#inputPesquisaCelular > input {
		width: 99%;
		border-radius: 20px;
		border: 2px solid #fff;
		font-size: 1vh;
		height: 3vh;
		display: flex;
		filter: drop-shadow(2px 2px 10px #2c3033);
	}

	.menuCelular {
		background-color: #000;
		width: 70%;
		height: 95vh;
		position: fixed;
		top: 1px;
		margin-left: 30%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		border: 2px solid #2c3033;
		border-top-left-radius: 20px;
		border-bottom-left-radius: 20px;
	}

	.divUm {
		background-color: #2c3033;
		height: 10vh;
		width: 100%;
		color: #fff;
		font-size: 2.13vh;
		font-weight: bolder;
		box-shadow: 2px 2px 20px #b4b6b8;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.divUm > a{
		color: #fff;
		text-decoration: none;
	}

	.divUm:hover{
		color: #000;
	}

	.divUm > a:hover{
		color: #555;
	}

	.divUm > button {
		background-color: transparent;
		backdrop-filter: blur(60px);
		border: none;
		font-size: 2.13vh;
		height: 10vh;
		width: 90%;
		background-size: cover;
		background-position: center center;
		border: none;
		color: #fff;
		/* box-shadow: 2px 2px 20px #fff; */
	}

    #filtrosSelecionados{
        width: 80%;
    }

    #BoxFiltro{
        display: block;
        width: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #BoxFiltro > button{
        border: none;
    }

    #BoxFiltro > button:hover{
        border: 2px solid #000;
    }

    #filtros{
        width: 99%;
        display: var(--filtroMobile-display);
        flex-wrap: wrap;
        position: fixed;
        height: 80vh;
        top: 10vh;
        left: 1px;
        background-color: #747171;
        text-align: left;
    }

    #filtros > p{
        width: 90%;
    }

    #fecharFiltroMobile{
        background-color: crimson;
        width: 6%;
		display: var(--filtroMobile-display);
        border: 1px solid hsl(0, 0%, 100%);
    }

    #fecharFiltroMobile > button{
        width: 100%;
        background-color: crimson;
        color: #fff;
        text-align: center;
		display: var(--filtroMobile-display);
    }

	footer {
		background-color: #2c3033;
		width: 100%;
		color: #fff;
		margin-top: 2vh;
		margin-bottom: 2vh;
	}
	
	#footerLinks {
		flex-wrap: wrap;
	}
	.footerbox {
		width: 100%;
	}
	
	.footerbox > a, p{
		width: 100%;
	}
	
	#beforeHr {
		display: flex;
		width: 100%;
		flex-wrap: wrap;
	}
	
	.beforeHRText {
		width: 100%;
		display: inline-block;
		vertical-align: top;
	}

	#outdorEscrita > p{
		font-size: 1.5vh;
	}

	
}